body {
    height: 100%
}
.bgImageLogin {
    background-image: url(../Images/bgLogin.png);
    background-repeat: no-repeat;
    border-radius: 25px;
    width: 768px;
    height: 560px;
}

.boxCont {
    max-width: 800px;
    min-height: 680px;
}

.shadowtext {
    text-shadow: 1px 1px 2px black, 0 0 1em black;
}
