html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background: linear-gradient(to right, #8c5a25 0%,#8c5a25 50%,#e9ae3a 50%,#e9ae3a 100%);*/
    background-image: url(../Images/bgBlur.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-details img{
    max-width: 100%;
}

.tag-link {
    text-decoration: none;
}