@page
@model BeeBlog.Web.Pages.Admin.Users.IndexModel
@{
}

<div class="bg-warning bg-gradient bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Список пользователей</h1>
    </div>
</div>

<div>
    <div class="container bg-white">
        <table class="table">
            <thead>
                <tr>
                    <td>Имя пользователя</td>
                    <td>Email</td>
                    <td>Id</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DisplayedUsers)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>@item.Id</td>
                        @*<td><a href="/admin/posts/edit/@item.Id">Править</a></td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>