@page
@model BeeBlog.Web.Pages.Admin.Users.IndexModel
@{
}

<div class="bg-warning bg-gradient bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Список пользователей</h1>
    </div>
</div>

<div>
    <div class="container bg-white">
        <div class="mb-3 d-flex justify-content-end">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#addUserModal">
                Добавить пользователя
            </button>
        </div>
        <form method="post" asp-page-handler="delete" id="deleteUserForm">
        <table class="table">
            <thead>
                <tr>
                    <td>Имя пользователя</td>
                    <td>Email</td>
                    <td>Id</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DisplayedUsers)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>@item.Id</td>
                        <td>
                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <a class="btn btn-danger user-delete-btn" data-id ="@item.Id">
                                    Удалить
                                </a>
                            }   
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
            <input type="hidden" asp-for="SelectedUserId" id="selectedUserId"/>
        </form>
    
    </div>
</div>

<!-- Modal -->
<form method="post">
    <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Новый пользователь</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <label class="form-label">Имя</label>
                        <input type="text" class="form-control" asp-for="NewUser.UserName" required/>
                        <span class="text-danger" asp-validation-for="NewUser.UserName"></span>
                    </div>
                    <div>
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" asp-for="NewUser.Email" required/>
                        <span class="text-danger" asp-validation-for="NewUser.Email"></span>
                    </div>
                    <div>
                        <label class="form-label">Пароль</label>
                        <input type="password" class="form-control" asp-for="NewUser.Password" required/>
                        <span class="text-danger" asp-validation-for="NewUser.Password"></span>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="User" checked disabled>
                            <label class="form-check-label" for="flexCheckDefault" >
                                Пользователь
                            </label>
                        </div>
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="NewUser.IsAdmin">
                            <label class="form-check-label" for="flexCheckChecked" >
                                Администратор
                            </label>
                        </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        const userDeleteElement = document.querySelectorAll('.user-delete-btn');
        const selectedUserIdElement = document.getElementById('selectedUserId');
        const deleteUserForm = document.getElementById('deleteUserForm');
        
        userDeleteElement.forEach((element) => {
            element.addEventListener('click', function () {
                const userId = element.dataset.id;
                selectedUserIdElement.value = userId;
                deleteUserForm.submit();
            })
        })
    </script>
}