@page
@model BeeBlog.Web.Pages.Admin.Posts.AddModel
@{
}
<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Add new post</h1>
    </div>
</div>

<div>
    <div class="container">
        <form method="post"> 
            <div class="mb-3">
                <label for="heading" class="form-label">Heading</label>
                <input type="text" class="form-control" id="heading">
            </div>

            <div class="mb-3">
                <label for="pageTitle" class="form-label">Page title</label>
                <input type="text" class="form-control" id="pageTitle">
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" id="content"></textarea>
            </div>

            <div class="mb-3">
                <label for="shortDescription" class="form-label">Short description</label>
                <input type="text" class="form-control" id="shortDescription">
            </div>

            <div class="mb-3">
                <label for="featureImageURL" class="form-label">Feature image URL</label>
                <input type="text" class="form-control" id="featureImageURL">
            </div>

            <div class="mb-3">
                <label for="urlHandle" class="form-label">URL handle</label>
                <input type="text" class="form-control" id="urlHandle">
            </div>

            <div class="mb-3">
                <label for="publishedDate" class="form-label">Published date</label>
                <input type="date" class="form-control" id="publishedDate">
            </div>

            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author">
            </div>

            <div class="form-check mb-3">
                <label class="form-check-label" for="isVisible">Is Post visibe?</label>
                <input class="form-check-input" type="checkbox" value="" id="isVisible">
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

