@page
@model BeeBlog.Web.Pages.Admin.Posts.ListModel
@{
}

<div class="bg-warning bg-gradient bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Список публикаций</h1>
    </div>
</div>

<partial name="_Notification">


@if(Model.BlogPosts != null && Model.BlogPosts.Any())
{
    <div class="container bg-white">
        <table class="table">
            <thead>
                <tr>
                    @*<td>Id</td>*@
                    <td>Заголовок</td>
                    <td> </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BlogPosts)
                {
                    <tr>
                        @*<td>@item.Id</td>*@
                        <td>@item.Heading</td>
                        <td><a href="/admin/posts/edit/@item.Id">Править</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container">
        <p>Не найдено публикаций</p>
    </div>
}


